/*------------------
Not Found - 404 Page
--------------------*/
.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}