/*----------------
Body Header Style
------------------*/
.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 35px;
  background-color: #fdcd07;
  border-radius: 20px;
}
.body-header-text h1 {
  font-size: 52px;
  font-weight: bold;
  padding-left: 70px;
  color: white;
}
.body-header-text button {
  margin-left: 70px;
  margin-top: 10px;
  border: 0px;
  padding: 10px 30px;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.btn {
  border: 0px;
  padding: 4px 15px;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.body-header-text button:hover {
  color: black;
  background-color: white;
  transition: 0.6s;
}
.body-header-text button:hover span {
  color: black;
  transition: 0.6s;
}

.body-header-text button span {
  align-items: center;
  padding-left: 10px;
  color: white;
}
.body-header-img {
  width: 55%;
}
.body-header-img img {
  width: 100%;
  display: block;
  float: right;
}
/*-----------------
Body Courses Style
-------------------*/
.course {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  float: left;
  padding: 20px;
  margin-bottom: 18px;
  margin-left: 18px;
  border: 0px;
}
.card-img {
  height: 140px;
  width: 140px;
}
.course-show {
  display: flex;
  margin-bottom: 40px;
  margin-top: 75px;
}
.course-name {
  width: 15%;
  writing-mode: vertical-rl;
  padding: 20px;
  font-size: 40px;
  /* background-color: #f15f79; */
  background-color: #81B024;
  font-weight: 700;
  border-radius: 5px;
  height: 400px;
  color: white;
}
.quotes {
  text-align: center;
  padding: 40px;
  font-size: 32px;
  background-color: #2DDE98;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 45px 0px;
}
.course-list {
  width: 85%;
  margin-bottom: 20px;
}
.card-text {
  margin: 4px 0px;
  line-height: 18px;
}
.card-body {
  padding: 0 0 0 12px !important;
}
/*---------------
Newsletter Style
-----------------*/

/*------------------------
Footer & Footer Nav Style
--------------------------*/
