/*------------------
LOGO & Navbar Style
--------------------*/
.logo{
    font-size: 30px!important;
    font-weight: 700;
}
.nav-bar{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
.nav-text{
    color: black!important;
    padding-right: 20px!important;
}
.nav-text:hover{
    color: #fdcd07!important;
}