.footer {
  margin: 20px 0;
  padding: 10px 0;
}
.footer-text {
  text-align: right;
  float: right;
  font-weight: bold;
}
.inner-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  padding: 10px;
}
.icon:hover{
  color: #fdcd07;
  font-size: 20px;
}
.footerlogo{
  font-size: 30px!important;
  font-weight: 700;
  color: black
}
.footerlogo:hover{
  color: #fdcd07
}